.container {
	margin-top: 70px;
}

table.table-clickable > tbody > tr { cursor: pointer; }

tr#signature > td {

	height: 100px;
}

div#right-side {
	border-left: 1px solid #eee;
}

div#insert-button-wrapper {
	margin-right: auto;
	margin-left: auto;
}

@media print {
  body * {
    visibility: hidden;
  }
  #content, #content * {
    visibility: visible;
  }
  #content {
    position: relative;
    left: 0;
    top: -70px;
  }
}